<h1>Article Search Thunderdome</h1>

<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>



<ul>
   <% @articles.each do |article| %>
    <li><%= link_to article.headline, article_path(article) %><br>

        <% unless article.author.nil?  %>
          <% if article.author[0...3] === "By " %>
            <%= article.author[3..-1] %><br>
          <% else %>
            <%= article.author %><br>
          <% end %>
        <% end %>
         <% unless article.snippet.nil? || article.snippet === "" %>
          <%= article.snippet %><br>
         <% end %>
       <br>
     </li>
  <% end %>
</ul>
