<h1>Article Search Thunderdome</h1>

<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>



<ul>
   <% @articles.each do |article| %>
    <li><%= link_to article.headline, article_path(article) %> <br>
    <%= article.author %> <br>
     <%= article.snippet %>
    </li>
  <% end %>
</ul>
